<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Portfolio{% endblock %}</title>

    <link rel="stylesheet" href="/css/style.css">
    
    {% block stylesheets %}{% endblock %}
</head>
<body>

    <header>
        <nav>
            <a href="{{ path('homepage') }}">Accueil</a>
            <a href="{{ path('projects') }}">Projets</a>
            <a href="{{ path('contact') }}">Contact</a>
            <a href="{{ path('registration') }}">Mon CV</a>
        </nav>
    </header>


    <div class="container">
        {% block body %}{% endblock %}
    </div>

    <footer>
        <p>© {{ "now"|date("Y") }} - Portfolio STI2D | Développeur Symfony</p>
    </footer>

    {% block javascripts %}{% endblock %}
</body>
</html>